<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


  <bean id="userService" class="com.cyzc.spring.aspect.UserServiceImpl"/>

  <!--
  1.额外功能
  2.切入点
  3.组装切面-->
  <bean id="around" class="com.cyzc.spring.aspect.MyAspect"/>
  <!--基于注解进行开发-->
  <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>
</beans>