<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 配置 -->
  <properties/><!-- 属性 -->
  <typeAliases/><!-- 类型命名 -->
  <typeHandlers/><!-- 类型处理器 -->

  <environments default="mysql"><!-- 配置环境 -->
    <environment id="mysql"><!-- 环境变量 -->
      <transactionManager type="jdbc"></transactionManager>
      <!-- 事务管理器 -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/spring"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>

      </dataSource>

    </environment>
  </environments>

  <mappers>
    <mapper resource="UserDaoMapper.xml"/>
  </mappers>
</configuration>